body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.m-nav-item{height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;text-align: center;}
.m-nav-item.active{background: lightblue;}

.m-dialog-wrap{display: flex; position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, 0.5);}
.m-dialog{margin: auto;min-width: 300px;min-height: 240px;background: #fff;border-radius: 10px;}
.m-dialog-header{display: flex;height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;}
.m-dialog-title{flex: 1;padding: 0 0 0 10px;}
.m-dialog-close{width: 40px;text-align: center;cursor: pointer;}

.m-eye-icon{font-size: 60px;}
.m-home-icon{font-size: 60px;color: red;}

.m-wrap{display: flex;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-sidebar{width: 80px;border-right: 1px solid #ddd;}
.m-sidebar-item{line-height: 40px;text-align: center;border-bottom: 1px solid #ddd;}
.m-sidebar-item.active{background: lightblue;}
.m-list{flex: 1;overflow-y: auto;}
.m-list-item{display: flex;padding: 0 0 5px 0;}
.m-img{width: 112px;height: 150px;}
.m-info{flex: 1;margin: 0 0 0 5px;border-bottom: 1px solid #ddd;}


