.m-login-icon{display: inline-block;vertical-align: top;margin: 4px 0 0 -20px;cursor: pointer;}
.m-wrap{display: flex;flex-direction: column; position: absolute;top:0;right: 0;left: 0;bottom: 0;}
.m-header{line-height: 40px;text-align: center;background: red;color: white;}
.m-main{flex:1;}
.m-footer{display: flex; height: 50px;border-top: 1px solid #ddd;}
.m-footer-item{flex:1;text-align: center;color: #333;text-decoration: none;}
.m-footer-item.router-link-active{color: red;}
.m-footer-icon{display: block; margin: 4px 0 0; font-size: 26px;}
.m-footer-text{font-size: 12px;}
.m-home{display: flex;overflow-y: auto;}
.m-sidebar{width: 80px;border-right: 1px solid #ddd;}
.m-sidebar-item{line-height: 40px;border-bottom: 1px solid #ddd;text-align: center;cursor: pointer;}
.m-sidebar-item.active{background: lightblue;}
.m-list{flex:1;overflow-y: auto;}
.m-category-title{position: sticky;top: 0; padding: 0 0 0 5px; background: #ddd;line-height: 26px;}
.m-category-item{display: flex; padding: 0 0 5px 2px;}
.m-category-img-wrap{width: 112px;height: 150px;}
.m-category-img{width: 100%;height: 100%;}
.m-category-info{flex:1;margin: 0 0 0 4px; border-bottom: 1px solid #ddd;}
.m-star{color: #ddd;}
.m-star.active{color: red;}
.m-mask{position: absolute;display: none; top: 0;left: 0;right: 0;bottom: 0;background: rgba(0 , 0, 0, 0.1);}
.m-mask.active{display: flex;}
.m-dialog{display: flex;flex-direction: column; margin: auto;min-width: 280px;min-height: 100px;background: #fff;border-radius: 5px;box-shadow: 10px 10px 5px #888;}
.m-dialog-header{display: flex;line-height: 40px;border-bottom: 1px solid #ddd;}
.m-dialog-header-title{flex:1;padding: 0 0 0 5px;}
.m-dialog-header-close{width: 40px;text-align: center;cursor: pointer;}
.m-dialog-content{flex:1;}
.m-dialog-footer{ line-height: 40px;border-top: 1px solid #ddd; text-align: right;}
.m-btn{margin: 0 5px;}
.m-add-wrap{display: flex;height: 100px;}
.m-add{margin: auto;}
.m-add-input{width: 50px;text-align: center;}

