body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.m-login-icon{display: inline-block;margin: 3px 0 0 -20px;vertical-align: top;}
.m-wrap{display: flex;flex-direction: column; position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.m-header{height: 50px; line-height: 50px;background: red;color: #ffffff;text-align: center;}
.m-main{flex:1;overflow-y: auto;}
.m-footer{display: flex; height: 50px;border-top: 1px solid #dddddd;}
.m-nav-item{flex:1;text-align: center; color: #333333; text-decoration:none;}
.m-nav-icon{display: inline-block;margin: 8px 0 0; font-size: 20px;}
.m-nav-text{font-size: 12px;}
.m-nav-item.active{color: red;}
.m-home{display: flex;height: 100%;}
.m-sidebar{width: 80px;border-right: 1px solid #dddddd;}
.m-sidebar-item{line-height: 40px;background: #aaaaaa;text-align: center;border-bottom: 1px solid #dddddd;}
.m-sidebar-item.active{background: lightblue;color: red;font-weight: bold;}
.m-list{flex: 1;overflow-y: auto;}
.m-category-title{position: sticky;top: 0; background: #dddddd;z-index: 9;}
.m-book-item{display: flex;margin: 0 0 5px 0;}
.m-book-img-wrap{display: flex;position: relative; width: 112px;height: 150px;background: #dddddd;}
.m-book-img-wrap::before{display: inline-block;margin: auto; content: ''; width: 38px;height: 38px;background-image: url(./images/loading.png);animation: loading 0.5s linear infinite;}
.m-book-img{position: absolute; width: 112px;height: 150px;}
.m-book-info{flex: 1;margin: 0 0 0 5px;border-bottom: 1px solid #dddddd;}
.m-star{color: #dddddd;}
.m-star.active{color: #f66f0c;}
.m-common-header{display: flex;height: 50px; line-height: 50px;background: red;color: #ffffff;text-align: center;}
.m-common-header-icon{width: 50px; font-size: 20px;}
.m-common-header-title{padding: 0 0 0 50px; flex:1;}
.m-detail{flex:1;overflow-y: auto;}
.m-mask{display: none; position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, 0.3);z-index: 10;}
.m-mask.active{display: flex;}
.m-btn{margin: 0 5px;}
.m-dialog{display: flex;flex-direction: column; margin: auto;min-width: 300px;min-height: 240px;background: #ffffff;border-radius: 5px;box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);}
.m-dialog-header{display: flex; padding: 0 5px;height: 40px; line-height: 40px;border-bottom: 1px solid #dddddd;}
.m-dialog-header-text{flex:1}
.m-dialog-header-icon{width: 40px; font-size: 20px;text-align: center;}
.m-dialog-content{flex: 1;position: relative;}
.m-dialog-footer{line-height: 40px;text-align: right;border-top: 1px solid #dddddd;}
.m-action-wrap{display: flex; position: absolute;width: 100%; height: 100%;}
.m-action{margin: auto;}
.m-count{width: 50px;text-align: center;}
.m-badge-wrap{position: relative;}
.m-badge{position: absolute;display: inline-block;top: -20px;right: -20px; min-width: 30px;line-height: 20px;height: 20px;border-radius: 10px;background: red;color: #ffffff;z-index: 11;}
.m-detail-img{background: #dddddd;}
.m-summary{display: -webkit-box; padding: 0 5px; overflow: hidden;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.m-summary-label{font-weight: bold;}
/* .m-summary{display: -webkit-box;max-height: 54px;line-height: 18px; font-size: 12px;text-align:justify;color: #838791;letter-spacing: 0;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;word-break: break-all;} */
.m-loading::before{display: inline-block;margin: auto; content: ''; width: 38px;height: 38px;background-image: url(./images/loading.png);animation: loading 0.5s linear infinite;}



@keyframes loading {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
















